streamlit == 1.43.1
plotly ==  6.0.0
numpy == 2.2.3
pandas == 2.2.3
scikit-learn == 1.6.1
scipy == 1.15.2
pip == 24.0
setuptools == 65.5.0

## to run the file ===>>> write in command "streamlit run filename.py"
##  pip list freeze  ##

## git init


